//header--start
div#header{
    height: 70px;
    position: fixed;
    z-index: 100;
    top:0;
    left:0;
    width: 100%;
    min-width: 1170px;
    i.bg{
        position: absolute;
        left:0;
        top:0;
        bottom:0;
        right:0;
        background: #000;
        @include opacity(0.2);
        display: block;
        @include tran;
        &.on{
            @include opacity(0.8);
        }
    }
    div.w1170{
        position: relative;
        z-index: 1;
        height: 100%;
        overflow: hidden;
        a.logo{
            height: 100%;
            width: 325px;
            background: url(#{$url1}logo.png) left center no-repeat;
        }
        div.fr{
            height: 100%;
            a,span{
                height: 100%;
                line-height: 70px;
                color: #fff;
                font-size: 13px;
                padding:0 20px;
                float: left;
            }
            a{
                border-top:1px solid transparent;
                @include tran;
                &:hover{
                    color: $color_logo;
                }
            }
            span{
                padding: 0;
                margin-left:60px;
            }
            a.on{
                border-top-color:$color_logo;
                color: $color_logo;
            }

        }
    }
}
//header--end
div.nothings {
    width: 100%;
    height: 400px;
    text-align: center;
    color: #666;
    font-size: 16px;

    img {
        display: inline-block;
        margin: 50px auto 20px;
    }
}
//标题
em.titles {
    color: #333;
    text-align: center;
    padding-top: 80px;
    display: block;

    span {
        display: block;
        font-size: 34px;
        margin-bottom: 20px;
    }

    i {
        display: block;
        font-size: 16px;
    }
}

span.xin {
    display: block;
    width: 49px;
    margin: 30px auto;
    position: relative;
    text-align: center;
    line-height: 24px;
    i:before {
        color: #dee1e3;
        font-size: 20px;
    }
    &:before,&:after{
        width: 90px;
        height: 1px;
        display: block;
        content: '';
        position: absolute;
        top: 12px;
        background-color:#dee1e3;
    }
    &:before{
        left: -90px;
    }
    &:after{
        right: -90px;
    }
}
