//reset
*{margin: 0;padding: 0;outline:0;}
body{font: 12px/1.5 'microsoft yahei';background:$white;color:$grey_4;min-width: 1170px;}
h1, h2, h3, h4, h5, h6, em, i {font-weight: normal; font-style: normal; }
input,textarea,img{outline:none;}
ul,li,ol{list-style: none;}
a{text-decoration: none;-webkit-tap-highlight-color:rgba(255,255,255,0);color:$grey_4}
a:hover{color:$red_1;}
label{vertical-align: middle;}
img{display: block;border:none}
::-ms-clear, ::-ms-reveal{display: none;}
button.disabled{
    background:#ccc;
    &:hover{
        background:#ccc;cursor:default;
    }
}
.reset_body{
    img{
        display: inline-block;
    }
}
/*隐藏分享弹层*/
.bdshare_dialog_box,.bdshare_dialog_bg{display: none !important;}

//滚动条
body {
    .mCSB_scrollTools .mCSB_draggerRail,
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        width: 5px;
        border-radius: 0;
    }
    .mCSB_scrollTools .mCSB_draggerRail {
        background-color: #f7f7f7;
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: #c2c2c2;
        &:hover {
            background-color: #000!important;
        }
    }
    .mCSB_scrollTools .mCSB_dragger:hover,
    .mCSB_scrollTools .mCSB_dragger:active {
        .mCSB_dragger_bar {
            background-color: #c2c2c2;
        }
    }
    div.bottomTab {
        margin-top: 0;
    }
}
