@import "_function";
@import "_color";
$c333: #333;
$c444: #444;
$c888: #888;
$c999: #999;
$ce9: #e9e9e9;
$cf4: #f4f4f4;

div.daigou{
    .box1{
        height: 800px;
        background: url(../img/zhucaidaigou/banner.jpg) no-repeat center;
        div.pa{
            width: 300px;
            height: 400px;
            top: 224px;
            right: 65px;
            background: #fff;
            filter:alpha(opacity=40); 
            background: rgba(255,255,255,0.4);
            p.name{
                font-size: 30px;
                color: #fff;
                line-height: 86px;
            }
            .new_shi_form{
                display: block;
                margin: 0 auto;
                width: 240px;
                input{
                    width: 233px;
                    height: 38px;
                    line-height: 38px;
                    border: 1px solid #626262;
                    margin-bottom: 10px;
                    padding-left: 5px;
                }
                button{
                    width: 240px;
                    height: 40px;
                    background: #1bbd9e;
                    color: #fff;
                    margin-top: 30px;
                }
            }
        }
    }
    
}
