<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>速装美装</title>
        <meta name="keywords" content="速装美装">
        <meta name="description" content="速装美装">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="renderer" content="webkit">
        <link rel="stylesheet" type="text/css" href="css/public.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/style-2.min.css"/>
        <link rel="stylesheet" href="../common/swiper2/idangerous.swiper.css">
    </head>

    <body class="page-3">
        <div class="container">
            <div class="banner">
                <img data-original='img/page-3-banner.jpg' src="http://icon.dyrs.cc/m/blank.gif" alt="" class="lazy_img"/>
            </div>
            <div class="page-header">
                <i class="bg full"></i>
                <div class="w1170">
                    <div class="fl f12">
                        <a href="" class="on">概述</a>
                        <a href="">主材明细</a>
                    </div>
                    <div class="fr">
                        <a href="javascript:;" class='go-form'>立即预约</a>
                    </div>
                </div>
            </div>
            <div class="fixed-btns">
                <div class="fixed-btns-body">
                    <ul class="w1170"></ul>
                </div>
            </div>
            <div class="page-body"></div>
            <div class="add_fonts">
                <div class="title">
                    <em class="w1170 color_red">*套餐价格为默认配置标价，修改套餐内容价格会有浮动</em>
                </div>
                <p class="w1170">
                    <span>套餐说明</span><br><br>

                    <i>面积说明：</i><br><br>
                    此主材包适合建筑面积85-130平方的两室两厅一卫一厨一阳台户型，不足85平方按85平方计算。
                    <br><br>

                    <i>卫生间说明：</i><br><br>
                    在原户型结构内，此主材包适合单卫生间，每增加一个卫生间增加7999元/套（包括：墙地砖/吊顶浴霸/坐厕/浴室柜/龙头淋浴柱/五金挂件/淋浴房/厨卫门）。

                    <br><br>

                    <i>详情：</i><br><br>
                    在原户型结构内，瓷砖，地板，涂料（壁纸）吊顶不限平方数；橱柜不限延米数，橱柜限L型和一字型（含地柜，吊柜，台面），五金含一组抽屉柜；木门不限樘数（入户门和阳台门除外）。

                    <br><br>

                    <i>安装：</i><br><br>
                    该主材包商品包含送货上楼；除瓷砖、油漆涂料、开关插座不包含安装外，其他商品包安装。
                    <br><br>

                    <i>淋浴房：</i><br><br>
                    该主材包定制淋浴房高度限2000mm，宽度限1800mm以内，超出部分每平方加收780元，不足0.5平方的以0.5平方计算。

                    <br><br>

                    <i>送货：</i><br><br>
                    在拆除完毕后，卫浴、瓷砖、地板、涂料、吊顶等一次性送到现场。橱柜、木门施工完毕后送货、安装。

                    <br><br>
                    <i>税金：</i><br><br>
                    税金按主材包总价的2%收取。

                    <br><br>
                </p>
            </div>
            <div class="else_box w1170">
                <em class="titles" style="padding-top:36px;">
                    <span>我们还为您提供以下产品服务</span>
                </em>
                <ul class="clearfix">
                    <li class="fl">
                        <a href="/package/yue/product">
                            <div class="lazy">
                                <img alt="399元主材包" data-original="http://icon.carimg.com/static/0200/index/bao_2.gif" src="http://icon.carimg.com/static/0200/index/bao_2.gif" class="lazy_img" style="display: block;"></div>
                            <div class="line"></div>
                        </a>
                    </li>
                    <li>
                        <a href="/package/she/product">
                            <div class="lazy">
                                <img alt="559元主材包" data-original="http://icon.carimg.com/static/0200/index/bao_3.gif" src="http://icon.carimg.com/static/0200/index/bao_3.gif" class="lazy_img" style="display: block;"></div>
                            <div class="line"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/html" id='page_btns'>
            {{each data as $v i}}
            <li style="width:{{100/data.length+'%'}}">{{$v.name | slice}}</li>
        {{/each}}
    </script>
    <script type="text/html" id='page_module'>
        {{each data as $v i}}
        <div class="pages {{if i%2>0}}odd{{/if}}">
            <div class="w1170">
                <em class="titles">
                    <span>{{$v.name}}</span>
                    <i>{{$v.content}}</i>
                </em>
                {{if $v.pic.length>1}}

                <div class="em-btns-body">
                    <div class="em-btns">
                        {{each $v.pic as $v1 i1}}
                            <a class="{{if i1==0}}on{{/if}} {{if i1>=$v.pic.length-1}}no{{/if}}">{{i1 | han}}</a>
                        {{/each}}
                    </div>
                </div>

                {{/if}}
                <div class="swiper-container swiper1 swiper1{{i}}" data-num="{{i}}">
                    <div class="swiper-wrapper swiper1-body full">
                        {{each $v.pic as $v1 i1}}
                        <div class="swiper-slide swiper-inner full noSwiping {{if i1==0}}on{{/if}}">
                            <div class="lazy left">
                                <img data-original='{{$v1.bg}}' src="http://icon.dyrs.cc/m/blank.gif" alt="" class="lazy_img auto"/>
                            </div>
                            <div class="swiper-container swiper2 swiper2{{i}}{{i1}}" data-num='{{i}}{{i1}}'>
                                {{if $v1.pic.length>3}}
                                    <i class="iconfont icon-left icons"></i>
                                    <i class="iconfont icon-right icons"></i>
                                {{/if}}
                                <div class="swiper-wrapper">
                                    {{each $v1.pic as $v2 i2}}
                                    <div class="swiper-slide">
                                        <div class="lazy img-body">
                                            <img data-original='{{$v2.img}}' src="http://icon.dyrs.cc/m/blank.gif" alt="{{$v2.alt}}" class="lazy_img auto" data-viewfont='{{$v2.alt}}' data-viewsrc='{{$v2.img_big}}' data-view='{{i}}{{i1}}'/>
                                        </div>
                                        <div class="fonts">
                                            <em class='ellipsis'>
                                                {{#$v2.f1}}
                                                </em>
                                                <span class='ellipsis'>
                                                    {{#$v2.f2}}
                                                    </span>
                                                    <span>
                                                        {{#$v2.f3}}
                                                        </span>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </script>
    <script src="../common/jquery-1.9.1.min.js"></script>
    <script src="../common/template.js"></script>
    <script src="../common/swiper2/idangerous.swiper.min.js" charset="utf-8"></script>
    <script src="js/public.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(function() {
            template.helper('slice', function(obj) {
                return obj.slice(0, -1)
            })
            template.helper('han', function(obj) {
                if(obj==0){
                    return '默认方案';
                }else if(obj==1){
                    return '替换方案一';
                }else if(obj==2){
                    return '替换方案二';
                }else if(obj==3){
                    return '替换方案三';
                }else if(obj==4){
                    return '替换方案四';
                }else if(obj==5){
                    return '替换方案五';
                }else if(obj==6){
                    return '替换方案六';
                }
            })
            var data = {
                "data": [
                    {
                        "pic": [
                            {
                                "bg": "http://icon.carimg.com/static/0200/zhucai/hui2 (1).png",
                                "pic": [
                                    {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui2 (2).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui2 (3).png",
                                        "alt": "东鹏-墙砖 LN63825_A 300*600",
                                        "f1": "东鹏-墙砖",
                                        "f2": "型号：LN63825_A",
                                        "f3": "尺寸：300*600 "
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui2 (4).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui2 (5).png",
                                        "alt": "东鹏-地砖 LP30825_A 300*300",
                                        "f1": "东鹏-地砖",
                                        "f2": "型号：LP30825_A",
                                        "f3": "尺寸：300*300 "
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui2 (6).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui2 (7).png",
                                        "alt": "东鹏-餐客厅/卧室地砖 FG805391_A 800*800",
                                        "f1": "东鹏-餐客厅/卧室地砖",
                                        "f2": "型号：FG805391_A",
                                        "f3": "尺寸：800*800 "
                                    }
                                ]
                            }, {
                                "bg": "http://icon.carimg.com/static/0200/zhucai/hui3 (1).png",
                                "pic": [
                                    {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui1_s.png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui1_b.png",
                                        "alt": "东鹏-墙砖 LN63823_A 300*600",
                                        "f1": "东鹏-墙砖",
                                        "f2": "型号：LN63823_A",
                                        "f3": "尺寸：300*600 "
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui2_s.png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui2_b.png",
                                        "alt": "东鹏-地砖 LF30823_A 300*300",
                                        "f1": "东鹏-地砖",
                                        "f2": "型号：LF30823_A",
                                        "f3": "尺寸：300*300"
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui3_s.png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui3_b.png",
                                        "alt": "东鹏-餐客厅卧室地砖 FG805392_A 800*800",
                                        "f1": "东鹏-餐客厅卧室地砖",
                                        "f2": "型号：FG805392_A",
                                        "f3": "尺寸：800*800 "
                                    }
                                ]
                            }, {
                                "bg": "http://icon.carimg.com/static/0200/zhucai/hui_2_b.png",
                                "pic": [
                                    {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui4_s.png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui4_b.png",
                                        "alt": "东鹏-墙砖 LN30502_A 300*600",
                                        "f1": "东鹏-墙砖",
                                        "f2": "型号：LN30502_A",
                                        "f3": "尺寸：300*300 "
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui5_s.png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui5_b.png",
                                        "alt": "东鹏-地砖 LP30502 300*300",
                                        "f1": "东鹏-地砖",
                                        "f2": "型号：LP30502",
                                        "f3": "尺寸：300*300"
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui6_s.png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui6_b.png",
                                        "alt": "东鹏-餐客厅卧室地砖 YG802012_A 800*800",
                                        "f1": "东鹏-餐客厅卧室地砖",
                                        "f2": "型号：YG802012_A",
                                        "f3": "尺寸：800*800 "
                                    }
                                ]
                            }
                        ],
                        "name": "瓷砖类",
                        "content": "涵盖客厅、餐厅、卧室、卫浴间、厨房空间的墙砖、地砖，不限面积。"
                    }, {
                        "pic": [
                            {
                                "bg": "http://icon.carimg.com/static/0200/zhucai/hui7 (1).png",
                                "pic": [
                                    {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui7 (2).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui7 (3).png",
                                        "alt": "东鹏-浴室柜 JG0010791VQ 780*455*520",
                                        "f1": "东鹏-浴室柜",
                                        "f2": "型号：JG0010791VQ",
                                        "f3": "尺寸：主    柜：780*455*520<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;镜    柜:750*145*750 "
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui7 (4).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui7 (5).png",
                                        "alt": "东鹏-连体坐便器 W1551A05TYQ 680x360x700mm",
                                        "f1": "东鹏-连体坐便器",
                                        "f2": "型号：W1551A05TYQ",
                                        "f3": "尺寸：680x360x700mm "
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui2_s_j.png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui2_b_j.png",
                                        "alt": "加枫-淋浴房 JGR-404-8 高2000mm，宽1800mm以内",
                                        "f1": "加枫-淋浴房",
                                        "f2": "型号：JGR-404-8",
                                        "f3": "尺寸：高2000mm，宽1800mm以内 "
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui7 (6).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui7 (7).png",
                                        "alt": "东鹏-配件包",
                                        "f1": "东鹏-配件包",
                                        "f2": "型号：东鹏",
                                        "f3": "尺寸：-- "
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui7 (8).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui7 (9).png",
                                        "alt": "东鹏-台盆龙头 JJH1881D含排水 高170mm",
                                        "f1": "东鹏-台盆龙头",
                                        "f2": "型号：JJH1881D含排水",
                                        "f3": "尺寸：高170mm "
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui7 (10).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui7 (11).png",
                                        "alt": "东鹏-五金件 JTF7001Q四件套",
                                        "f1": "东鹏-五金件",
                                        "f2": "型号：JTF7001Q四件套",
                                        "f3": "尺寸：--"
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui7 (12).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui7 (13).png",
                                        "alt": "东鹏-顶喷花洒 JJH2210X 高1237mm",
                                        "f1": "东鹏-顶喷花洒",
                                        "f2": "型号：JJH2210X",
                                        "f3": "尺寸：高1237mm "
                                    }
                                ]
                            }
                        ],
                        "name": "卫浴类",
                        "content": "所含产品有浴室柜、马桶、淋浴房、花洒、五金挂件、龙头、配件等。"
                    }, {
                        "pic": [
                            {
                                "bg": "http://icon.carimg.com/static/0200/zhucai/hui5 (1).png",
                                "pic": [
                                    {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui5 (2).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui5 (3).png",
                                        "alt": "奥普-LED照明灯 ZTL810B 300*300",
                                        "f1": "奥普-LED照明灯",
                                        "f2": "型号：ZTL810B",
                                        "f3": "尺寸：300*300 "
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui5 (4).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui5 (7).png",
                                        "alt": "奥普-浴霸 QDP5016C 300*600*140",
                                        "f1": "奥普-浴霸",
                                        "f2": "型号：QDP5016C",
                                        "f3": "尺寸：300*300 "
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui5 (5).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui5 (6).png",
                                        "alt": "奥普-集成吊顶扣板 TKB-01扣板AF002钛空银 300*300*0.58",
                                        "f1": "奥普-集成吊顶扣板",
                                        "f2": "型号：TKB-01扣板AF002钛空银",
                                        "f3": "尺寸：300*300*0.58 "
                                    }
                                ]
                            }
                        ],
                        "name": "吊顶类",
                        "content": "涵盖卫生间、厨房吊顶，产品包含LED照明灯、浴霸，不限面积。"
                    }, {
                        "pic": [
                            {
                                "bg": "http://icon.carimg.com/static/0200/zhucai/hui1 (1).png",
                                "pic": [
                                    {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui1 (2).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui1 (3).png",
                                        "alt": "樱花-双槽+龙头 ST-3201N 760*420/735*390*R20",
                                        "f1": "樱花-双槽+龙头",
                                        "f2": "型号：ST-3201N",
                                        "f3": "尺寸：760*420/735*390*R20 "
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui1 (4).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui1 (5).png",
                                        "alt": "樱花-欧式直吸式油烟机 SCR-3911FC 897*500*570",
                                        "f1": "樱花-欧式直吸式油烟机",
                                        "f2": "型号：SCR-3911FC",
                                        "f3": "尺寸：897*500*570 "
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui1 (6).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui1 (7).png",
                                        "alt": "樱花-嵌入式燃气灶 SCG-6631SN 740*430*145/674×358，R45",
                                        "f1": "樱花-嵌入式燃气灶",
                                        "f2": "型号：SCG-6631SN",
                                        "f3": "尺寸：740*430*145/674×358，R45"
                                    }
                                ]
                            }
                        ],
                        "name": "橱柜类",
                        "content": "所含产品有水槽、龙头、烟机、灶具、标准橱柜。"
                    }, {
                        "pic": [
                            {
                                "bg": "http://icon.carimg.com/static/0200/zhucai/hui6 (1).png",
                                "pic": [
                                    {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui6 (2).png?v=1",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui6 (3).png?v=1",
                                        "alt": "派的门-厨卫门 PBL-003 2200*900*300",
                                        "f1": "派的门-厨卫门",
                                        "f2": "型号：PBL-003",
                                        "f3": "尺寸：2200*900*300"
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui6 (4).png?v=1",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui6 (5).png?v=1",
                                        "alt": "派的门-卧室门 PAD-001 2200*900*300",
                                        "f1": "派的门-卧室门",
                                        "f2": "型号：PAD-001",
                                        "f3": "尺寸：2200*900*300 "
                                    }
                                ]
                            }
                        ],
                        "name": "门类",
                        "content": "涵盖卫浴间、厨房、主卧室及次卧室的门。"
                    }, {
                        "pic": [
                            {
                                "bg": "http://icon.carimg.com/static/0200/zhucai/hui4 (1).png",
                                "pic": [
                                    {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui4 (2).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui4 (3).png",
                                        "alt": "圣象e家-地板 NF1101 1286*194*10",
                                        "f1": "圣象e家-地板",
                                        "f2": "型号：NF1101",
                                        "f3": "尺寸：1286*194*10"
                                    }
                                ]
                            }, {
                                "bg": "http://icon.carimg.com/static/0200/zhucai/hui7_b_b.png",
                                "pic": [
                                    {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui8_s.png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui8_b.png",
                                        "alt": "圣象e家-地板 NF1102 1286*194*10",
                                        "f1": "圣象e家-地板",
                                        "f2": "型号：NF1102",
                                        "f3": "尺寸：1286*194*10"
                                    }
                                ]
                            }, {
                                "bg": "http://icon.carimg.com/static/0200/zhucai/hui9_b_b.png",
                                "pic": [
                                    {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui10_s.png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui10_b.png",
                                        "alt": "圣象e家-地板 NF1103 1286*194*10",
                                        "f1": "圣象e家-地板",
                                        "f2": "型号：NF1103",
                                        "f3": "尺寸：1286*194*10"
                                    }
                                ]
                            }
                        ],
                        "name": "地板类",
                        "content": "涵盖客厅、餐厅、卧室地板，不限使用面积。"
                    }, {
                        "pic": [
                            {
                                "bg": "http://icon.carimg.com/static/0200/zhucai/hui_b.png",
                                "pic": [
                                    {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui1_s_j.png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui1_b_j.png",
                                        "alt": "可耐美-涂料墙漆 H008 15L/桶",
                                        "f1": "可耐美-涂料墙漆",
                                        "f2": "型号：H008",
                                        "f3": "规格：15L/桶"
                                    }
                                ]
                            }
                        ],
                        "name": "涂料类",
                        "content": "涵盖客厅、餐厅、卧室、过道所有墙面顶面用漆，不限面积。"
                    }, {
                        "pic": [
                            {
                                "bg": "http://icon.carimg.com/static/0200/zhucai/hui_k (1).png",
                                "pic": [
                                    {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui_k (2).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui_k (2).png",
                                        "alt": "飞雕-单开单控 86*86mm",
                                        "f1": "飞雕-单开单控",
                                        "f2": "尺寸：86*86mm"
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui_k (3).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui_k (3).png",
                                        "alt": "飞雕-单开双控 86*86mm",
                                        "f1": "飞雕-单开双控",
                                        "f2": "尺寸：86*86mm"
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui_k (4).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui_k (4).png",
                                        "alt": "飞雕-电话插 86*86mm",
                                        "f1": "飞雕-电话插",
                                        "f2": "尺寸：86*86mm"
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui_k (5).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui_k (5).png",
                                        "alt": "飞雕-空调插 86*86mm",
                                        "f1": "飞雕-空调插",
                                        "f2": "尺寸：86*86mm"
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui_k (6).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui_k (6).png",
                                        "alt": "飞雕-联体插方 86*86mm",
                                        "f1": "飞雕-联体插方",
                                        "f2": "尺寸：86*86mm"
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui_k (7).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui_k (7).png",
                                        "alt": "飞雕-两开单控 86*86mm",
                                        "f1": "飞雕-两开单控",
                                        "f2": "尺寸：86*86mm"
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui_k (8).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui_k (8).png",
                                        "alt": "飞雕-三开单控 86*86mm",
                                        "f1": "飞雕-三开单控",
                                        "f2": "尺寸：86*86mm"
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui_k (9).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui_k (9).png",
                                        "alt": "飞雕-网线插 86*86mm",
                                        "f1": "飞雕-网线插",
                                        "f2": "尺寸：86*86mm"
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui_k (10).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui_k (10).png",
                                        "alt": "飞雕-一开单带5孔 86*86mm",
                                        "f1": "飞雕-一开单带5孔",
                                        "f2": "尺寸：86*86mm"
                                    }, {
                                        "img": "http://icon.carimg.com/static/0200/zhucai/hui_k (11).png",
                                        "img_big": "http://icon.carimg.com/static/0200/zhucai/hui_k (11).png",
                                        "alt": "飞雕-有线电视插 86*86mm",
                                        "f1": "飞雕-有线电视插",
                                        "f2": "尺寸：86*86mm"
                                    }
                                ]
                            }
                        ],
                        "name": "开关类",
                        "content": "一开单*4一开双*7二开单*2三开单*1联体插方*28一开单带5孔*3空调插*3电视插*3电话插*3电脑插*3，不包含安装。"
                    }
                ]
            }
            $('.page-body').html(template('page_module', data));
            $('.fixed-btns ul').html(template('page_btns', data));
            $('.pages').each(function(index, obj) {
                if ($(obj).find('.swiper2').length > 1) {
                    var swiper_name = '.swiper1' + $(obj).find('.swiper1').attr('data-num');
                    var swiper1 = new Swiper(swiper_name, {
                        speed: 800,
                        // loop:true,
                        touchRatio: 2,
                        mode: 'vertical',
                        // noSwiping: true,
                        onlyExternal: true,
                        onSwiperCreated: function() {
                            $(window).scroll();
                        },
                        onSlideChangeStart: function(swiper) {
                            //var now_index = swiper.activeLoopIndex;
                            var now_swiper = $(swiper_name + ' .swiper-slide-active');
                            // now_swiper.next().addClass('on'); now_swiper.prev().addClass('on');
                            $(window).scroll();
                        },
                        onSlideChangeEnd: function() {
                            $(window).scroll();
                        },
                        progress: true,
                        onProgressChange: function(swiper) {
                            for (var i = 0; i < swiper.slides.length; i++) {
                                var slide = swiper.slides[i];
                                var progress = slide.progress;
                                var translate,
                                    boxShadow;
                                if (progress > 0) {
                                    translate = progress * swiper.width;
                                    boxShadowOpacity = 0;
                                } else {
                                    translate = 0;
                                    boxShadowOpacity = 1 - Math.min(Math.abs(progress), 1);
                                }
                                slide.style.boxShadow = '0px 0px 10px rgba(0,0,0,' + boxShadowOpacity + ')';
                                swiper.setTransform(slide, 'translate3d(0,' + (translate) + 'px,0)');
                            }
                        },
                        onTouchStart: function(swiper) {
                            for (var i = 0; i < swiper.slides.length; i++) {
                                swiper.setTransition(swiper.slides[i], 0);
                            }
                        },
                        onSetWrapperTransition: function(swiper, speed) {
                            for (var i = 0; i < swiper.slides.length; i++) {
                                swiper.setTransition(swiper.slides[i], speed);
                            }
                        }
                    });
                    $(obj).find('.em-btns a').click(function() {
                        $(this).addClass('on').siblings().removeClass('on');
                        swiper1.swipeTo($(this).index());
                    })
                }

                $(obj).find('.swiper2').each(function(index, obj) {
                    if ($(obj).find('.swiper-slide').length > 3) {
                        var swiper_name = '.swiper2' + $(obj).attr('data-num');
                        var swiper2 = new Swiper(swiper_name, {
                            loop: true,
                            // autoplay:5000,
                            calculateHeight: true,
                            grabCursor: true,
                            slidesPerView: 3,
                            // pagination : '.pagination',
                            onSlideChangeEnd: function() {
                                $(window).scroll();
                            }
                        });
                        $('.icon-right').click(function() {
                            swiper2.swipeNext();
                        });
                        $('.icon-left').click(function() {
                            swiper2.swipePrev();
                        });
                    }

                })
                $(window).scroll();
            });
            var $fixed_tabs_list = $('.pages');
            var $fixed_tabs = $('.fixed-btns-body');
            var $fixed_tabs_li = $fixed_tabs.find('li');
            var fixed_tabs_scroll = $fixed_tabs.offset().top;
            $fixed_tabs_li.each(function(index, obj) {
                this.index = index;
                $(obj).click(function() {
                    $('html,body').stop().animate({
                        scrollTop: $fixed_tabs_list.eq(this.index).offset().top - 80
                    });
                })
            });
            $(window).scroll(function() {
                if (fixed_tabs_scroll > $(window).scrollTop()) {
                    $fixed_tabs.removeClass('on');
                } else {
                    $fixed_tabs.addClass('on');
                }
            })
            var tts = setInterval(function() {
                var now_scroll = $(window).scrollTop() + 50;
                var arr = [];
                $fixed_tabs_list.each(function(index, obj) {
                    arr.push($(obj).offset().top - 60);
                });
                var now_num = arr.length - 1;
                for (var s = 0; s < arr.length; s++) {
                    if (now_scroll <= arr[s]) {
                        now_num = s - 1 < 0
                            ? 0
                            : s - 1;
                        break;
                    }
                }
                $fixed_tabs_li.removeClass('on').eq(now_num).addClass('on');

            }, 250);
            jiajuol.lightbox()
        })
    </script>

    <!-- <script type="text/javascript">
            var json = {
                data: []
            };
            $('.shapes').not('.shapes_title').each(function(index, obj) {
                var $o = $(obj);
                var data = {}
                data.pic = [];
                data.name = $o.find('.bg2').html();
                data.content = $o.find('.subTit').html();
                $o.find('.shapes_content_left').each(function(index, obj) {
                    var data1 = {};
                    data1.bg = $(obj).find('img').attr('data-original');
                    data1.pic = [];
                    console.log(index)
                    $o.find('div.slideBox').eq(index).each(function(index, obj) {
                        $(obj).find('li').not('.clone').each(function(index, obj) {
                            var data3 = {};
                            data3.img = $(obj).find('img').attr('data-original');
                            data3.img_big = $(obj).find('img').attr('data-viewsrc');
                            data3.alt = $(obj).find('img').attr('alt');
                            data3.f1 = $(obj).find('span em').html();
                            data3.f2 = $(obj).find('span i').eq(0).html();
                            data3.f3 = $(obj).find('span i').eq(1).html();
                            data1.pic.push(data3);
                        })

                    })
                    data.pic.push(data1);
                })
                json.data.push(data);

            })
            console.log(json);
        </script> -->

</body>

</html>
